body {
  background-color: #bbb;
}
.container {
  background-color: #fff;
  margin: 0 auto;
  padding: 40px;
}
.logo {
  margin: 0 auto;
  width: 150px;
}
.logo img {
  width: 100%;
}

form {
  width: 320px;
  margin: 15px auto;
}
.input-box {
  position: relative;
  margin-bottom: 28px;
}
.input-box:last-of-type {
  margin-bottom: 30px;
}
.input-text {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #aaa;
  font-size: 17px;
  outline-style: none;
}
.fail-id-msg,
.fail-pw-msg {
  position: absolute;
  bottom: -25px;
  left: 0;
  display: inline-block;
  font-family: 'hanna';
  font-size: 18px;
  width: 320px;
  color: red;
}

.btn-login {
  font-family: 'hanna';
  width: 320px;
  height: 40px;
  margin: 10px 0 15px 0;
  border: 0;
  background-color: #2ac1bc;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}

.member-only {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0;
  width: 320px;
  margin: 0 auto;
  color: #888;
}

.member-only li:first-child::after {
  content: '|';
  margin: 0 15px;
}

.other-logins {
  width: 320px;
  margin: 20px auto;
}

.other-logins li {
  display: block;
  text-align: center;
  font-family: 'hanna';
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 3px;
  transition: background 0.3s, color 0.3s;
}
.other-logins li a {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
}
/* .other-logins li:hover {
  color: #fff;
  background: #2AC1BC;
} */

.facebook-login {
  width: 38px;
  height: 38px;
  background-image: url(../img/faceBook-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.naver-login {
  width: 38px;
  height: 38px;
  background-image: url(../img/naver-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.apple-login {
  width: 38px;
  height: 38px;
  background-image: url(../img/apple-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.join {
  font-family: 'hanna';
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.join-link {
  color: #2ac1bc;
}
