button {
  padding: 0;
  border: none;
}
input {
  border: none;
}
.container {
  font-family: 'hanna';
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  background-image: url(../img/paper.jpg);
}
/* 주소 영역 */
.address {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 20px;
  background-color: #fff;
}
.address p {
  margin-right: 10px;
}
.address img {
  width: 25px;
}
/* 광고 배너 */
.ad {
  padding-bottom: 10px;
  position: relative;
  width: 510px;
  /* height: 180px; */
  /* border-bottom: 1px solid #ddd; */
}
.ad-item-container {
  display: flex;
  width: 510px;
  height: 220px;
}
.ad-item:not(:last-child) {
  padding-right: 5px;
}
.ad img {
  width: 510px;
  height: 100%;
}
.ad-control {
  width: 40px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 35px;
  color: #fff;
  outline: none;
}
.prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* 메뉴 카테고리 */
.menu-category {
}
.menu-category ul {
  display: flex;
  flex-flow: row wrap;
}
.menu-category li {
  width: 33%;
  flex-grow: 1;
  text-align: center;
  border: 1px solid #ededed;
  /* border-radius: 10px; */
}
.menu-category li:first-child {
  border-top: none;
  border-radius: 0 0 10px 0;
}
.menu-category li:nth-child(2) {
  border-top: none;
  border-radius: 0 0 10px 10px;
}
.menu-category li:nth-child(3) {
  border-top: none;
  border-radius: 0 0 0 10px;
}
.menu-category li:nth-child(4) {
  border-radius: 0 10px 10px 0;
}
.menu-category li:nth-child(5) {
  border-radius: 10px
}
.menu-category li:nth-child(6) {
  border-radius: 10px 0 0 10px;
}
.menu-category li:nth-child(7) {
  border-bottom: none;
  border-radius: 0 10px 0 0;
}
.menu-category li:nth-child(8) {
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}
.menu-category li:nth-child(9) {
  border-bottom: none;
  border-radius: 10px 0 0 0;
}

.menu-category li a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px 0;
}
.menu-category img {
  width: 50px;
  transition: all ease-out .3s;
}
.menu-category img:hover {
  transform: rotate( 20deg );
}
/* 가게 검색 폼 */
.search-store-wrap {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-grow: 1;
  /* background-image: url(../img/paper.jpg); */
}
#search-store {
  width: 420px;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
}
#search-store:focus-visible {
  box-sizing: border-box;
  outline: none;
  border: 2px solid #2ac1bc;
  border-radius: 20px;
  padding: 10px 14px;
}
/* 메인 메뉴 */
.main-menu {
  position: sticky;
  bottom: 0;
  border-top: 1px solid #000;
  background-color: #fff;
}
.main-menu ul {
  display: flex;
}
.main-menu ul li {
  flex: 1 1 0;
}
.main-menu ul li:hover {
  box-shadow: 1px 1px 7px 1px rgb(209, 209, 209) inset;
}
.main-menu li:not(:last-child) {
  border-right: 1px solid #000;
}
.main-menu a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5px 0;
}
.main-menu img {
  width: 35px;
  padding-bottom: 5px;
}
/* 주소 영역 */
.map-wrap {
  position: absolute;
  top: 720px;
  width: 510px;
  height: 700px;
  margin: 20px auto;
  background-color: #fff;
  border-bottom: 1px solid #000;
}
.input-address-msg {
  text-align: left;
  font-size: 30px;
  margin: 20px 0 20px 30px;
}
.input-address-msg p{
  margin: 10px 0;
}

.map-wrap form,
.cur-position-wrap {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.map-wrap label {
  display: flex;
}
#search-address {
  width: 400px;
  height: 46px;
  padding-left: 10px;
  font-size: 18px;
}
.search-btn {
  background-image: url(../img/검색.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #bbb;
  border-radius: 3px;
  background-color: #fff;
  width: 47px;
  height: 47px;
  cursor: pointer;
  margin-left: 5px;
}
.bd {
  border: 1px solid #bbb;
  border-radius: 3px;
  background-color: rgb(246, 246, 246);
}
.prev-btn {
  display: block;
  font-size: 30px;
  width: 50px;
  padding: 10px 10px;
}
.cur-position {
  border-radius: 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 452px;
  height: 50px;
  margin-bottom: 20px;
  background-image: url(../img/position.png);
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: 28% 50%;
  cursor: pointer;
  background-color: #fff;
  font-size: 20px;
  font-weight: 10px;
}

.recent-address {
  font-size: 20px;
}
.recent-address h2 {
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 35px;
}
.recent-address span:last-child {
  display: block;
  width: 450px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 3px solid #f1efef;
}
.recent-address span img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  float: right;
}
